


<div class="page-form flex">
<div>Schedule For :</div>
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;<div>From Date: </div> &nbsp;&nbsp;
<div class="form-group frappe-control input-max-width col-md-2 has-error" title="" style="z-index: 1;">
<div class="link-field ui-front" style="position: relative; line-height: 1;">     
<div class="awesomplete"> 
<input type="date" id="from" name="fromdate" class="filterdate input-with-feedback form-control bold input-sm" placeholder="From Date" >
</div>          
</div></div>
&nbsp;&nbsp;<div>To Date: </div> &nbsp;&nbsp;
<div class="form-group frappe-control input-max-width col-md-2 has-error" title="" style="z-index: 1;">
<div class="link-field ui-front" style="position: relative; line-height: 1;">     
<div class="awesomplete"> 
<input type="date" id="to" name="todate" class="filterdate input-with-feedback form-control bold input-sm" placeholder="To Date">
</div>          
</div></div>

<div class="form-group frappe-control input-max-width col-md-2 has-error" title="" style="z-index: 1;">
<div class="link-field ui-front" style="position: relative; line-height: 1;">     
<div class="awesomplete"> 
 <button class="btn btn-primary btn-sm primary-action" type="button" onclick="_GetData()"><i class="visible-xs octicon octicon-check"></i><span class="hidden-xs">Upload New Data</span></button>
</div>          
</div></div>



</div>







<div class="page-form flex">
<div>Search Store :</div>
&nbsp;&nbsp;&nbsp;
&nbsp;
<div class="form-group frappe-control input-max-width col-md-2 has-error" title="" style="z-index: 1;">
<div class="link-field ui-front" style="position: relative; line-height: 1;">     
<div class="awesomplete"> 
<input type="text" id="filter-store" name="employee-filter" class="input-with-feedback form-control bold input-sm" placeholder="Store Name" >
</div>          
</div></div>

</div>






<div class="page-form flex">
<div> Copy Schedule: </div>
&nbsp;&nbsp;<div>From Date: </div> &nbsp;&nbsp;
<div class="form-group frappe-control input-max-width col-md-2 has-error" title="" style="z-index: 1;">
<div class="link-field ui-front" style="position: relative; line-height: 1;">    
<div class="awesomplete"> 
<input type="date" id="fromdate" name="fromdate" class="newdate input-with-feedback form-control bold input-sm" placeholder="From Date" >
</div>          
</div></div>

&nbsp;&nbsp;<div>To Date: </div> &nbsp;&nbsp;
<div class="form-group frappe-control input-max-width col-md-2 has-error" title="" style="z-index: 1;">
<div class="link-field ui-front" style="position: relative; line-height: 1;">     
<div class="awesomplete">  
<input type="date" id="todate" name="todate" class="newdate input-with-feedback form-control bold input-sm" placeholder="To Date">
</div>          
</div></div>

<div class="form-group frappe-control input-max-width col-md-2 has-error" title="" style="z-index: 1;">
<div class="link-field ui-front" style="position: relative; line-height: 1;">     
<div class="awesomplete"> 
<button class="btn btn-primary btn-sm primary-action"  id="BtnSubmit" type="button" ><i class="visible-xs octicon octicon-check"></i><span class="hidden-xs">Fetch Previous Data</span></button>
</div>          
</div></div>

</div>







<div class="report-wrapper" style="display: block;">
            <style></style>
            <div class="data-table datatable-instance-1">
                <table id="maintable" class="data-table-header" style="margin: 0px;">
                <thead>
            <tr class="data-table-row">
            <td class="data-table-cell noselect">
              <div class="content ellipsis" style="width: 120px;">
                Employee id
              </div>
              </td>
              <td class="data-table-cell noselect">
              <div class="content ellipsis" style="width: 120px;">
                Employee
              </div>
              </td>
              <td class="data-table-cell noselect">
              <div class="content ellipsis" style="width: 120px;">
                Company
              </div>
              </td>
              <td class="data-table-cell noselect">
              <div class="content ellipsis" style="width: 120px;">
                Store
              </div>
              </td>
            </tr>
                </thead>
                </table>
        <div class="body-scrollable" style="width: 1837px; margin-top: 34px;">

          <table id="maintables" class="data-table-body" style="margin: 0px;">
                    
            <tbody tabindex="0" style="counter-increment: clusterize-counter -1;">
           
{% for (var i=0,l=data_list["emp"].length; i<l; i++) { %}

          <tr class="data-table-row">
          <td class="empid data-table-cell noselect" style="background-color: rgb(245, 247, 250);" >
          <div class="content ellipsis" style="width: 120px;"  >
         {{  data_list["emp"][i]["name"] }}
          </div>
          </td>


          <td class="emp data-table-cell noselect" style="background-color: rgb(245, 247, 250);" data-emp="{{  data_list["emp"][i]["employee_name"] }}"  >
          <div class="content ellipsis" style="width: 120px;">
         {{  data_list["emp"][i]["employee_name"] }}
          </div>
          </td>

          <td class="company data-table-cell noselect" style="background-color: rgb(245, 247, 250);" >
          <div class="content ellipsis" style="width: 120px;" >
         {{  data_list["emp"][i]["company"] }}
          </div>
          </td>





            <td>
       

        <select type="text" autocomplete="off" class="store" data-store=" {{  data_list[\"store\"][i]  }} ">
<option selected value="0">Select Store</option>

       {% for (var t=0, z=data_list["store"].length; t<z; t++) { %}
<option>{{  data_list["store"][t][0] }}</option>
         {% } %}

</select>
          

          </td>

    
    

         
          </tr>
                  
 {% } %}
   

          </tbody>
        </table>

        </div>
        </div>
        </div>
        
        







          


<script>  








var employee="";
var store="";
var shift="";

 $(document).ready(function(){
  var _org_data ;
frappe.call({
            method:"avunewbnd.api.data_list.load_data",
           
            callback: function(r){
        
        _org_data=r.message;
        console.log("originaldata>",_org_data);
            }
        });


$(".filterdate").change(function(e){
      
         
         
         var fdate=$("#from").val();
         
         var tdate=$("#to").val();
      if (fdate!="" && tdate!="") {
          generatetable(fdate,tdate);
          
      }   
      

    });

$("#filter-store").change(function(e){
	var store_filter=$("#filter-store").val();
	var not_matching_row=[];



var notmatchData =$.grep( _org_data.emp, function(element, index) {
  return element.store!=store_filter;
  
  });

  console.log(notmatchData);
  $.each(notmatchData,function(Idx,Item){
   not_matching_row.push($(".emp[data-emp="+Item.employee_name+"]").parents("tr"));
   
});
  $.each(not_matching_row,function(Idx,Item){
$(Item.hide());
  });
  if (store_filter==""){
$(".emp").parents("tr").show();
}

});

var newfdate,newtdate;
$(".newdate").change(function(e){
      
         
         
         newfdate=$("#fromdate").val();
         
         newtdate=$("#todate").val();
      
    });

$("#BtnSubmit").click(function (){

 var sdate=$("#from").val();
 if(sdate==""){
  frappe.msgprint({
        title: __("From Date and To Date of <b>Schedule for</b> field is Mandatory."),
        message: __("From Date and To Date of <b>Schedule for</b> field are not selected. Please select it first to copy previous Schedule."),
        indicator: "red"
 });
}
else {
call_python_function(newfdate,newtdate,sdate);
console.log("calling python function and seting values.;");
}
});



});


function call_python_function(_datefrom, _dateto,_datestart)
{

 frappe.call({
            method:"avunewbnd.avunewbnd.doctype.shift_schedule_manual.shift_schedule_manual.load_existing_data",
            args: {
           "from_date": new Date(_datefrom),
           "to_date": new Date(_dateto),
           "start_date": new Date(_datestart),

            },
            callback: function(r){
        console.log("try>",r);
        _SetData(r.message);
            }

        });

  
}








 function generatetable(_datefrom, _dateto)
 {
    var _from = moment(_datefrom);
    var _to = moment(_dateto);
    console.log(_from);
    var columns = [];
    
    $("#maintables td.dynamic-td,#maintable td.dynamic-td").remove();
    while(_from <= _to)
    { 
      $("#maintable thead tr").append("<td class=dynamic-td><div>" + _from.format("DD-MM-YYYY") +"</div></td>");
      columns.push(_from.format("YYYY-MM-DD"));
      _from.add(1,"days");
    }
 
   var classname ="shift";
    for(var i=0;i<columns.length;i++)
    { 
      
      $("#maintables tbody tr").append("<td class=dynamic-td ><div><select class=\"+classname+\" data-day=\"+columns[i]+\" ><option selected value=0> Select Shift</option>{% for (var t=0, l=data_list[\"shift\"].length; t<l; t++) { %}<option value=\'{{  data_list[\"shift\"][t][0] }}\'>{{  data_list[\"shift\"][t][0] }}</option>{% } %}</select></div></td>");
    }
    $("td").addClass("data-table-cell noselect");
    $("#maintable thead tr td div").addClass("content ellipsis");
    $("#maintables tbody tr td div").addClass("content ellipsis");
    $("#maintables tbody tr td div select").addClass("input-with-feedback form-control input-sm");


 call_python_function(_datefrom, _dateto,_datefrom);
 }


 function _GetData()
 {

    var _data = [];

    $.each($(".shift"),function(Idx,Item){
      

      var _emp, _store, _shift, _day, _row;

      _shift = $(Item).val();
      _day = $(Item).data("day");
      _row = $(Item).parents("tr");
      _emp = $(".emp",_row).text().trim();
      _empid = $(".empid",_row).text().trim();
      _company = $(".company",_row).text().trim();
      _store = $(".store",_row).val();

 if(_shift!=0 && _store!=0) {

      _data.push({"Shift":_shift,"Day":moment(_day).format("YYYY-MM-DD"),"Employee":_emp,"Store":_store,"Empid":_empid,"Company":_company});
    }
    });

    console.log("Sent Data>",_data);
    
 frappe.call({
            method:"avunewbnd.avunewbnd.doctype.shift_schedule_manual.shift_schedule_manual.passing_templatedata_to_python",
            args: {
           "data" : _data
            },
            callback: function(r){
        console.log(r); 
            }

        });
}



function _SetData(_data)  {
   $.each(_data,function(Idx,Item){


 
    var rowww = $(".emp[data-emp="+Item.employee_name+"]").parents("tr");
    $(".store",rowww).val(Item.store);
    
    $(".shift[data-day="+Item.attendance_date+"]",rowww).val(Item.shift_time);


    
   });
}


</script>


<style type="text/css">
  td{
    background-color: rgb(245, 247, 250);
    width: 120px;
    text-align: center;
  }
  .ellipsis{
    width: 120px;
  }
  .form-page{
    background-color: rgb(245, 247, 250);
  }
  .ellipsis{
    width:unset;
  }

</style>