<div class="page-form flex">
        
  Attendance Date: 
     <div class="form-group frappe-control input-max-width col-md-2 has-error" title="" style="z-index: 1;">
     <div class="link-field ui-front" style="position: relative; line-height: 1;">     
     <div class="awesomplete"> 
     <input type="date" id="attendance_date" name="attendance_date" class="attendance_date input-with-feedback form-control bold input-sm" value={{ attendance_list["process_date"] }}  readonly>
     </div>          
     </div></div>
     
             
     <div class="form-group frappe-control input-max-width col-md-2 has-error" title="" style="z-index: 1;">
     <div class="link-field ui-front" style="position: relative; line-height: 1;">     
     <div class="awesomplete"> 
             <button class="btn btn-primary btn-sm primary-action"  onclick="calling_attendance_api()" type="button" ><i class="visible-xs octicon octicon-check"></i><span class="hidden-xs">Process Attendance</span></button>
         </div>          
     </div></div>
     </div>



     <div style="overflow:scroll" style="height:200px" >
         <table class="table table-bordered" id="maintable" style="width:auto">
           <thead>
             <tr>
               <th><div class="content ellipsis" style="width: 100px; text-align: center;margin: auto;">
                         Employee id
                       </div></th>
                      
                       <th><div class="content ellipsis" style="width: 100px;text-align: center;margin: auto;">
                          Employee
                       </div></th>
                       
             </tr>
           </thead>
           
           <tbody>
           {% for (var i=0,l=attendance_list["emp"].length; i<l; i++) { %}   
             <tr>
               
               <td class="empid" data-empenrollno="{{  attendance_list["emp"][i]["enroll_number"] }}" ><div >{{  attendance_list["emp"][i]["name"] }}</div></td>
               <td class="emp" data-emp="{{  attendance_list["emp"][i]["employee_name"] }}" ><div >{{  attendance_list["emp"][i]["employee_name"] }}</div></td>
               
                
             </tr>
             {% } %}
             </tbody>
         </table>
         </div>

<script>
var _org_data ;
var _result;    var progressperunit;
var adate;var x;var apiemployee;
var q="\'";
var div="<div style="+q+"margin:auto;width:120px;"+q+">";
$(document).ready(function(){
  adate=$("#attendance_date").val();
   adate=moment(adate);
   adate=adate.format("YYYYMMDD");
   console.log("format>",adate);
frappe.call({
          method:"bnd.api.attendance_list.load_data",
         args:{
          "process_date":adate
         },
          callback: function(r){
      
      _org_data=r.message;
      console.log("originaldata>",_org_data);
      var allemp= _org_data.emp;
      console.log("allempdata>",allemp);
      
 apiemployee =$.grep(allemp , function(element, index) {
  return element.violationcount<=0;
  
  });
  console.log("apiemployeelist>>",apiemployee);
          }
      });
     
});
function calling_attendance_api() {
    var cover = $("#body_div").append("<div id=cover>API is calling... Please Wait... </div>");
    cover.fadeOut(100);
    var slot_html = function (frm) {
      return `<div id="outerdiv" style="
    
    width: 520px;
    border-radius: 25px;
    border: 2px solid grey;
"><div id="loader">Processing...</div></div>`;
    };
    d = new frappe.ui.Dialog
      ({
        title: __("Please Wait while Processing..."),
        fields: [{ fieldtype: "HTML", fieldname: "claim_date" }],
        primary_action_label: __("Close"),
        primary_action: function (frm) {
          d.hide();
        }
      });
    $wrap = d.fields_dict.claim_date.$wrapper;
    $wrap.html(slot_html);
    d.no_cancel();
    var datafield="claim_date";
    
    $("[data-fieldname="+datafield+"]").css("border-radius"," 25px");
    d.show();
    $("#maintable thead tr").append("<th class=dynamic-th>"+ div + "Indicator</div></th><th class=dynamic-th>" + div + "Status</div></th><th class=dynamic-th>" + div + "Message</div></th>");

    









    frappe.call({
      method: "bnd.bnd.doctype.attendance_process.attendance_process.calling_attendance_date_api",


      args: {
        "process_date": adate

      },
      callback: function (r) {
        var syncdata = r.message;
        console.log("syncapidata>", r.message);

        if (syncdata["status"] = "success") {
          progressperunit = Math.floor(550 / apiemployee.length);
          $wrap.css("width", "0px");
          var progress = 0;
          for (var e = 0; e < apiemployee.length; e++) {




            frappe.call({
              method: "bnd.bnd.doctype.attendance_process.attendance_process.calling_attendance_api",
              args: {
                "process_date": adate,
                "enroll_number": apiemployee[e].enroll_number

              },
              async:true,
              callback: function (r) {

                 x = JSON.parse(r.message);
 console.log("datafrompython>", r.message);

                if (x["Message"] == "An error has occurred.") {
                  frappe.msgprint({
                    title: __("Something went wrong."),
                    message: __("Attendance Process Operation Failed."),
                    indicator: "red"
                  });
                  cover.fadeIn(100);
                }



                else {



                  _result = JSON.parse(JSON.parse(r.message));



                  for (var i = 0; i < _result.length; i++) {
                    console.log(_result[i].employee, _result);
                    var row = $("#maintable tbody [data-empenrollno=" + _result[i].employee + "]").parents("tr");
                    console.log(row);


     row.append("<td class=dynamic-td>"+ div +" <span class="+q+"indicator green "+q+">  </span></div></td>");
        row.append("<td class=dynamic-td>" + div + _result[i].status + "</div></td><td class=dynamic-td>" + div + _result[i].message + "</div></td>");
                  

                  cover.fadeIn(100);



                }

                progress = progress + progressperunit;
                console.log("percn>>", progress);
                $wrap.css("background-color", "blue");
                $wrap.css("width", progress + "px");

              }
              }
            });

          }
        }
}
      });



}
</script>
<style>
 #cover {
 background-color: red;
 opacity: 0.5;
 position: absolute;
 height: 100%;
 width: 100%;
}
.page-form {    
 border-bottom: none;
 background-color: white;
 }
</style>