<div class="page-form flex">
    Attendance Date: 
    <div class="form-group frappe-control input-max-width col-md-2 has-error" title="" style="z-index: 1;">
    <div class="link-field ui-front" style="position: relative; line-height: 1;">     
    <div class="awesomplete"> 
    <input type="date" id="attendance_date" name="attendance_date" class="attendance_date input-with-feedback form-control bold input-sm" value={{ attendance_list["process_date"] }}  >
    </div>          
    </div></div>
    
           
    <div class="form-group frappe-control input-max-width col-md-2 has-error" title="" style="z-index: 1;">
    <div class="link-field ui-front" style="position: relative; line-height: 1;">     
    <div class="awesomplete"> 
           <button class="btn btn-primary btn-sm primary-action" id="processbtn"  onclick="testme()" type="button" ><i class="visible-xs octicon octicon-check"></i><span class="hidden-xs">Process Attendance</span></button>
       </div>          
    </div></div>

<div class="form-group form-group-sm ui-front">
  <div class="awesomplete">
    <input id="search-emp" type="text" class="form-control" placeholder="Search for Employees.." aria-haspopup="true" autocomplete="off"
      aria-autocomplete="list" onkeyup="myFunction()" style="
      text-indent: 25px;">
    <ul hidden=""></ul>
    <span class="visually-hidden" role="status" aria-live="assertive" aria-relevant="additions"></span>
  </div>
  <span class="octicon octicon-search navbar-search-icon" style="
      position: relative;
      right: -3px;
      top: -25px;">
    </span>
</div>
    
    </div>
    
    <div style="overflow:scroll" style="height:200px" >
       <table class="table table-bordered" id="maintable" style="width:auto">
         <thead>
           <tr>
              <th>
                  <div class="content ellipsis" style="text-align: center;margin: auto;">
                      <input type="checkbox" id="select-all-emp" >
                  </div>
                </th>
              
              
             <th><div class="content ellipsis" style="text-align: center;margin: auto;">
                       Series
                     </div></th>
                    
                     <th><div class="content ellipsis" style="text-align: center;margin: auto;">
                        Employee
                     </div></th>
                     
           </tr>
         </thead>
         
         <tbody>
         {% for (var i=0,l=attendance_list["emp"].length; i<l; i++) { %}   
           <tr>
              <td class="selective-emp" data-checkdemp="{{  attendance_list["emp"][i]["enroll_number"] }}">

                  <input type="checkbox" value="{{  attendance_list["emp"][i]["enroll_number"] }}" data-canprocess="{{  attendance_list["emp"][i]["canprocess"] }}">
                </td>
                
               
             <td class="empid" data-empenrollno="{{  attendance_list["emp"][i]["enroll_number"] }}" ><div >{{  attendance_list["emp"][i]["name"] }}</div></td>
             <td class="emp" data-emp="{{  attendance_list["emp"][i]["employee_name"] }}" ><div >{{  attendance_list["emp"][i]["employee_name"] }}</div></td>
             
           </tr>
           {% } %}
           </tbody>
       </table>
       </div>
       <script>
    var _org_data ;var atvioemp,employeewithnovio,allemp;var selectiveemp;var row;
    var _result;    var progressperunit,percentage;
    var adate;var x;var apiemployee; var attemp, today;
    var q="\'";var selectivecontroller;
    var process_date={{ attendance_list["process_date"] }};
    var div="<div style="+q+"margin:auto;"+q+">";
    $(document).ready(function(){
      $("#maintable thead tr").append("<th class=dynamic-th>"+ div + "</div></th><th class=dynamic-th>" + div + "Status</div></th><th class=dynamic-th>" + div + "Message</div></th>");
    
      checking_date_and_loading_date();
    $("#attendance_date").change(function(e){
      $("#maintable td.dynamic-td").remove();
      checking_date_and_loading_date();
    });
   
    $("#select-all-emp").change(function (e) {
      if($("#select-all-emp").prop("checked")==true){
        $(".selective-emp input:visible").prop("checked","checked");      
      }
      else{
        $(".selective-emp input:visible").prop("checked","");      
      }
      
    });

    
  
 
    
    });
    
    
    function myFunction(){
      var $rows = $("#maintable tbody tr");
$("#search-emp").keyup(function() {
    var val = $.trim($("#search-emp").val()).replace(/ +/g, " ").toLowerCase();
    $("#maintable tbody tr").show().filter(function() {
        var text = $(this).text().replace(/\s+/g, " ").toLowerCase();
        return !~text.indexOf(val);
    }).hide();

});
    }
    function checking_date_and_loading_date()
    {
      adate=$("#attendance_date").val();
    adate=moment(adate);
    var today=moment();
    if(adate>today){
      frappe.msgprint({
            title: __("Attendance can not be marked for future dates"),
            message: __("Attendance can not be marked for future dates"),
            indicator: "red"
     });
     $("#processbtn").prop("disabled", "disabled");


     
    }
    adate=adate.format("YYYYMMDD");
    frappe.call({
        method:"bnd.api.attendance_list.load_data",
       args:{
        "process_date":adate
       },
        callback: function(r){
    
    _org_data=r.message;
     
    allemp=_org_data.emp;
    process_date=_org_data.process_date;
    
    
    
    
   
    
    atvioemp =$.grep(allemp , function(element, index) {
    return element.violationcount>0 ;
    
    });
    attemp=$.grep(allemp , function(element, index) {
    return  element.attendancecount>0;
    
    });
    
    $.each(atvioemp,function(Idx,Item){
    var viorow= $("#maintable tbody [data-empenrollno=" +Item.enroll_number
    + "]").parents("tr");
    viorow.append("<td class=dynamic-td>"+ div +" <span class="+q+"indicator orange "+q+">  </span></div></td>");
    viorow.append("<td class=dynamic-td>" + div +  "Pending</div></td><td class=dynamic-td>" + div +  "Attendance Violation</div></td>");
                
    });
    $.each(attemp,function(Idx,Item){
    var attrow= $("#maintable tbody [data-empenrollno=" +Item.enroll_number
    + "]").parents("tr");
    attrow.append("<td class=dynamic-td>"+ div +" <span class="+q+"indicator orange "+q+">  </span></div></td>");
    attrow.append("<td class=dynamic-td>" + div +  "Pending</div></td><td class=dynamic-td>" + div +  "Attendance</div></td>");
                
    });
        
        }
    });
    }
    
    
    function testme()
    {
      selectivecontroller = $(".selective-emp input[data-canprocess=1]:checked");
      if(selectivecontroller.length == 0){
        frappe.msgprint({
            title: __("No Employees to process."),
            message: __("No Employees to process."),
            indicator: "red"
     });
        return;
      }

      $("#processbtn").prop("disabled", "disabled");

if (selectivecontroller){
        apiemployee=[];

for(var t=0;t<selectivecontroller.length;t++){

  apiemployee.push({"enroll_number":$(selectivecontroller[t]).val()});
}


}
else{
  apiemployee =$.grep(allemp , function(element, index) {
    return element.violationcount==0 && element.attendancecount==0  ;
    
    });
}


      
    console.log(adate);
   
   
         $.ajax({
          url:"http://120.88.36.10:560/subtest/api/Aprocess?_date="+adate,
        type: "GET"  , 
    success:function(_data)
    {
    console.log("sync data->",_data);
    testme2();
    }
         });
    }
    
    
    function testme2(){
    console.log("calling api");
    
    var slot_html = function (frm) {
    return `<div id="outerdiv" style="
    
    width: 550px;
    border-radius: 25px;
    border: 2px solid grey; "><center><b><div id="loader">0%</div></b></center></div>`;
    };
    d = new frappe.ui.Dialog
    ({
      title: __("Please Wait while Processing..."),
      fields: [{ fieldtype: "HTML", fieldname: "claim_date" }],
      primary_action_label: __("Close"),
      primary_action: function (frm) {
        d.hide();
      }
    });
    $wrap = d.fields_dict.claim_date.$wrapper;
    $wrap.html(slot_html);
    d.no_cancel();
    var datafield="claim_date";
    
    $("[data-fieldname="+datafield+"]").css("border-radius"," 25px");
    d.show();
    progressperunit = 550 / apiemployee.length;
    var progress = 0;
        $wrap.css("width", "0px");
        
        
    
    
    for (var e = 0; e < apiemployee.length; e++) {
    
    $.ajax({
    url: "http://120.88.36.10:560/subtest/api/Aprocess?_date="+adate+"&_enroll="+apiemployee[e]["enroll_number"],
    type: "GET"  ,
    
    
    
    success:function(_data)
    {
    console.log("return data->",_data);
    _data=JSON.parse(_data);
    if(_data.length>0){
                row = $("#maintable tbody [data-empenrollno=" + _data[0].employee + "]").parents("tr");
                  row.append("<td class=dynamic-td>"+ div +" <span class="+q+"indicator green "+q+"> </span></div></td>");
                  row.append("<td class=dynamic-td>" + div + _data[0].status + "</div></td><td class=dynamic-td>" + div + _data[0].message + "</div></td>");
    }
              
    progress = progress + progressperunit;
              $wrap.css("background-color", "blue");
              $("#loader").css("color","red");
              $wrap.css("width", progress + "px");
            var  percentage=Math.round((progress/550)*100);
              $("#loader").text(percentage+"%");
              if(percentage==100){
                d.hide();
                $("#processbtn").prop("disabled", "");
                
                frappe.msgprint({
            title: __("Message"),
            message: __("Attendance Process completed sucessfully."),
            indicator: "green"
     });


              }
    }
    })
    
    
    }
    }
  </script>


<style>
  #cover {
    display: none;
    background-color: white;
    opacity: 0.5;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .page-form {
    border-bottom: none;
    background-color: white;
  }

  #maintable th,#maintable td {
    padding: 4px;
  }

</style>